@import "https://fonts.googleapis.com/css2?family=Peddana&display=swap";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(
    #000000,
    #2bd1ff,
    #a5faf9,
    #87f8f6,
    #000000
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.nav-item{
    font-size: 24px;
    font-family: 'Peddana', serif;
  }
  .navbar-brand {
    font-family: 'Peddana', serif;
    font-size: 50px;
  }
  .imgclass {
  
    height: 2em;
    border-radius: 70%;
    margin-bottom: 10px;
    transition: 2s;
  }